/* share */
.font-header {
  color : #000000;
  font-weight: 700;
}

.margin-bottom-18 {
  margin-bottom: 18px;
}

.font-normal {
  font-weight: 400;
}

.font-24 {
  font-size: 24px;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.span-item {
  display: block;
}

.flex {
  display: flex;
}

.js-space-between {
  justify-content: space-between;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main-logo {
  justify-content: center;
}

.main-item-content {
  width: 100%;
  margin: 0 25px;
}

.side-bar {
  background-color: #191718;
}

.item-side-bar {
  font-weight: 700;
  color: #FFFFFF;
  padding: 14px 16px 11px 16px;
  text-transform: capitalize;
  width: 150px;
  box-sizing: border-box;
  border-bottom: 1px solid #5C5C5C;
}

.item-side-bar:hover {
  background-color: #5C5C5C;
}

.main-content {
  margin: 0 -25px;
  box-sizing: border-box;
}

.main {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 130px 0 130px; 
}

.main-header {
  padding: 38px 270px;
  box-sizing: border-box;
  text-align: center;
}